<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReFilm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EE5B39F1CE3578200590827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE5B3B81CE3578300590827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE5B3C31CE3578300590827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
